
@media screen and  (max-width: 1200px) {
    /* .container {
        width: auto;
    } */
    .list__product {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1070px) {
    .i-title, .lang {
        font-size: 13px;
    }
    .lang {
        transform: translate(0px, 3px);
    }
    .c-m p {
        font-size: 13px;
    }
    .right.m-l-10 {
        font-size: 13px;
    }
    .l-d a {
        font-size: 14px;
    }
    #searchInput {
        width: 250px;
        padding: 9px 30px 9px 8px;
        font-size: 13px;
    }
    #search__btn {
        left: 220px;
        top: 12px;
    }
    .f__ttl {
        font-size: 17px;
    }
    .logo {
        width: 110px;
    }
    .decor-s {
        font-size: 13px;
    }
    .footer a {
        font-size: 13px;
    }
    .footer .f__li_hover a {
        font-size: 13px;
    }
}
@media screen and (max-width: 991px) {
    .sery__krug {
        display: none;
    }
    .ul__li img {
        width: 110px;
    }
    .hover-menu li a {
        padding: 8px 10px;
    }
    .v-m .left {
        display: none;
    }
    .v-m .ul__li > li {
        padding: 0 8px 0 0;
    }
    /* .v-m {
        display: flex;
        justify-content: center;
    } */
    /* .right {
        float: none;
    } */

    .hover-menu {
        display: none;
    }
    .c-m .ul__li > li {
        padding: 0 15px 0 10px;
    }
}
@media screen and (max-width: 480px) {
    .i-title, .lang {
        font-size: 11px;
    }
    .lang {
        transform: translate(0px, 5px);
    }
}
@media screen and (min-width: 320px) {
    .s-i img{
        display: block;
        width: 100%;
    }
    .s-i img:first-child {
        margin-top: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .s-i img:first-child {
        margin-top: 0;
    }
}